<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/getInfoUsers.js"></script>
<script src="js/popupOpenClose.js"></script>
<script src="js/buildUsersAndReceivers.js"></script>
<script>
    $(document).ready(function () {
        $('[data-js=open]').on('click', function () {
            popupOpenClose($('.popup.post'))
        })
        $('[data-js=openn]').on('click', function () {
            popupOpenClose($('.popup.get'))
        })
        getAll().then(info => {
            buildUsersAndReceivers(info)
        })
    })
</script>
<div id="wrapper-admin">
    <div class="container-fluid links mb-3">
        <ul class="nav justify-content-end h3">
            <li class="nav-item">
                <a href="/home" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item">
                <a href="/sign/out" class="nav-link text-white">Sign out</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="channel" class="col-12 col-md-4 mb-3 mb-md-0">
                <h2 class="text-white">Channel for distribution</h2>
                <form action="/admin/add/channel" method="GET">
                    <div class="form-row">
                        <div class="col">
                            <input
                                    type="text"
                                    name="name"
                                    value="{{channel.name}}"
                                    class="form-control"
                            />
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-primary w-100"/>
                        </div>
                    </div>
                </form>
            </div>
            <div id="users" class="col-12 col-md-4 mb-3 mb-md-0">
                <h2 class="text-white">Users:</h2>
                <div id="login-list" class="list-group mb-3"></div>
                <button data-js="open" class="btn btn-primary">
                    Add new user
                </button>
                <div class="popup post">
                    <form action="/admin/add/user" method="POST">
                        <div class="form-group">
                            <input
                                    name="login"
                                    type="text"
                                    placeholder="Login"
                                    class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    name="password"
                                    type="password"
                                    placeholder="Password"
                                    class="form-control"
                            />
                        </div>
                        <input type="submit" class="btn btn-success" value="Submit"/>
                        <button type="button" name="close" class="btn btn-danger">
                            Close
                        </button>
                    </form>
                </div>
            </div>
            <div id="receivers" class="col-12 col-md-4 mb-3 mb-md-0">
                <h2 class="text-white">Receivers:</h2>
                <div id="username-list" class="list-group mb-3"></div>
                <button data-js="openn" class="btn btn-primary">
                    Add new receiver
                </button>
                <div class="popup get">
                    <form action="/admin/add/receiver" method="GET">
                        <div class="form-group">
                            <input name="username" class="form-control" type="text" placeholder="Username" style="padding: 5px"><br>
                        </div>
                        <input type="submit" class="btn btn-success" value="Submit"/>
                        <button type="button" name="close" class="btn btn-danger">
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
