<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	function popupOpenClose(popup) {
	
	/* Add div inside popup for layout if one doesn't exist */
	if ($(".wrapper").length == 0){
		$(popup).wrapInner("<div class='wrapper'></div>");
	}
	
	/* Open popup */
	$(popup).show();

	/* Close popup if user clicks on background */
	$(popup).click(function(e) {
		if ( e.target == this ) {
			if ($(popup).is(':visible')) {
				$(popup).hide();
			}
		}
	});

	/* Close popup and remove errors if user clicks on cancel or close buttons */
	$(popup).find("button[name=close]").on("click", function() {
		if ($(".formElementError").is(':visible')) {
			$(".formElementError").remove();
		}
		$(popup).hide();
	});
}

$(document).ready(function () {
	$("[data-js=open]").on("click", function() {
		popupOpenClose($(".popup"));
	});
});
</script>
<div id="wrapper">
	<div class="links">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/sign/out">Sign out</a></li>
		</ul>
	</div>
	<div id="users">
		
	</div>
	<div id="receivers">
		
	</div>
	<div id="channel">
		<h3>Channel for distribution</h3>
		<form action="/admin/add/channel" method="GET">
			<input type="text" name="name" placeholder="@name_of_channel">
			<input type="submit">
		</form>
	</div>
	
	<button data-js="open">Click me</button>
	<div class="popup">
		<button name="close">Close</button>
	</div>
</div>