<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/getInfoUsers.js"></script>
<script src="js/popupOpenClose.js"></script>
<script src="js/buildUsersAndReceivers.js"></script>
<script>

$(document).ready(function () {
	$("[data-js=open]").on("click", function() {
		popupOpenClose($(".popup.post"));
	});
	$("[data-js=openn]").on("click", function() {
		popupOpenClose($(".popup.get"));
	});
	getAll()
	.then(info => {
		buildUsersAndReceivers(info);
	});
});

</script>
<div id="wrapper-admin">
	<div class="links">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/sign/out">Sign out</a></li>
		</ul>
	</div>
	<div id="channel">
		<h3>Channel for distribution</h3>
		<form action="/admin/add/channel" method="GET">
			<input type="text" name="name" placeholder="@name_of_channel">
			<input type="submit">
		</form>
	</div>
	<div id="users">
		<h2>Users:</h2>
		<div id="login-list">
			
		</div>
		<button data-js="open" class="add-new">Add new user</button>
		<div class="popup post">
			<form action="/admin/add/user" method="POST">
				<input name="login" type="text" placeholder="Login" style="margin-bottom: 10px;"><br>
				<input name="password" type="password" placeholder="Password" style="margin-bottom: 10px;"><br>
				<button type="submit">Submit</button>
			</form>
			<button name="close">Close</button>
		</div>	
	</div>
	<div id="receivers">
		<h2>Receivers:</h2>
		<div id="username-list">
			
		</div>
		<button data-js="openn" class="add-new">Add new receiver</button>
		<div class="popup get">
			<form action="/admin/add/receiver" method="GET">
				<input name="username" type="text" placeholder="Username" style="margin-bottom: 10px;"><br>
				<button type="submit">Submit</button>
			</form>
			<button name="close">Close</button>
		</div>		
	</div>
</div>