<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	function popupOpenClose(popup) {
	
	/* Add div inside popup for layout if one doesn't exist */
	if ($(".wrapper-popup").length == 0){
		$(popup).wrapInner("<div class='wrapper-popuppost'></div>");
	} else {
		$(popup).wrapInner("<div class='wrapper-popupget'></div>");
	}
	
	/* Open popup */
	$(popup).show();

	/* Close popup if user clicks on background */
	$(popup).click(function(e) {
		if ( e.target == this ) {
			if ($(popup).is(':visible')) {
				$(popup).hide();
			}
		}
	});

	/* Close popup and remove errors if user clicks on cancel or close buttons */
	$(popup).find("button[name=close]").on("click", function() {
		if ($(".formElementError").is(':visible')) {
			$(".formElementError").remove();
		}
		$(popup).hide();
	});
}

$(document).ready(function () {
	$("[data-js=open]").on("click", function() {
		popupOpenClose($(".popup.post"));
	});
});

$(document).ready(function () {
	$("[data-js=openn]").on("click", function() {
		popupOpenClose($(".popup.get"));
	});
});
</script>
<div id="wrapper">
	<div class="links">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/sign/out">Sign out</a></li>
		</ul>
	</div>
	<div id="channel">
		<h3>Channel for distribution</h3>
		<form action="/admin/add/channel" method="GET">
			<input type="text" name="name" placeholder="@name_of_channel">
			<input type="submit">
		</form>
	</div>
	<h2>Users:</h2>
	<div id="users">
		<div id="login-list">
			
		</div>
		<button data-js="open">Add new user</button>
		<div class="popup post">
			<form action="/admin/add/user" method="POST">
				<input name="login" type="text" placeholder="Login" style="margin-bottom: 10px;"><br>
				<input name="password" type="password" placeholder="Password" style="margin-bottom: 10px;"><br>
				<button type="submit">Submit</button>
			</form>
			<button name="close">Close</button>
		</div>	
	</div>
	<h2>Receivers:</h2>
	<div id="receivers">
		<div id="username-list">
			
		</div>
		<button data-js="openn">Add new receiver</button>
		<div class="popup get">
			<form action="/admin/add/receiver" method="GET">
				<input name="username" type="text" placeholder="Username" style="margin-bottom: 10px;"><br>
				<button type="submit">Submit</button>
			</form>
			<button name="close">Close</button>
		</div>		
	</div>
</div>