<div id="wrapper">
	<div class="links">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/sign/out">Sign out</a></li>
		</ul>
	</div>
	<div id="users">
		
	</div>
	<div id="receivers">
		
	</div>
	<div id="channel">
		<h3>Channel for distribution</h3>
		<form action="/admin/add/channel" method="GET">
			<input type="text" name="name" placeholder="@name_of_channel">
			<input type="submit">
		</form>
	</div>	
</div>