<div id="wrapper">
	<div class="links">
		<ul>
			{{#if adminCheck}}
			<li><a href="#">Admin panel</a></li>
			{{/if}}
			<li><a href="#">Sign out</a></li>
		</ul>
	</div>
	<div id="home-form">
		<form action="/home" method="POST">	
			<div id="textarea">
				<textarea name="textarea" cols="50" rows="20"></textarea>
			</div>
			<div id="telephone">
				<input type="tel" name="telephone" placeholder="Telephone">
			</div>
			<div id="checkbox">
				<input type="checkbox" name="whatsApp" value="whatsApp"><span>WhatsApp</span><br>
				<input type="checkbox" name="telegram" value="telegram"><span>Telegram</span><br>
				<input type="checkbox" name="viber" value="viber"><span>Viber</span><br>
			</div>
			<div id="choose-file">
				<span>Attach photo:</span><br>
				<input type="file" name="photo">
			</div>
			<input type="submit" value="Send">
		</form>
	</div>
</div>