.links {
	position: absolute;
	right: 0;
}

.links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li {
	display: inline-block;
	margin: 0 10px;
	font-size: 32px;
}

.links li a:link, .links li a:visited {
	color: white;
	text-decoration: none;
}

.links li a:hover {
	color: #A0A0A0;
}

#wrapper {
	margin: 30px;
}

#home-form div {
	margin: 20px 0px;
}